body{
    background: url('../img/artwork.jpg') no-repeat;
    background-size: cover;
}

.card{
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(3rem);
}
.card .btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group input{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}