.nav-link{
    font-weight: 500;
}
.navbar-brand{
    font-weight: bold;
}
.bg-hero{
    background: url('../img/artwork.jpg') no-repeat;
    background-size: cover;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}